<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create</title>
  </head>

    <body>
        <header>
            <h1>Create item</h1>
        </header>
        <main>
            <div>
                <form method="post">
                    {% csrf_token %} 
                    {{ form.as_p }}
                    <button>Submit</button>
                  </form>
            </div>
          </main>
    </body>
</html>
