<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Delete</title>
  </head>

  <body>
    <header>
      <h1>Delete List</h1>
    </header>
    <main>
      <div>
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <div>
            <button>Delete</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
