<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>To Do List Details</title>
  </head>

  <body>
    <header>
      <nav>
        <a href="{% url 'todos_list_edit' todolist.id %}">Edit List</a>
        <a href="{% url 'todos_list_delete' todolist.id %}">Delete List</a>
      </nav>
      <h2>{{ todolist.name }}</h2>
      <main>
        {% for item in todolist.items.all %}
        <a href="{% url 'todos_item_edit' item.id %}">{{ item.task }}</a>
        {% endfor %}
      </main>
    </header>
  </body>
</html>
