<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit List</title>
  </head>

  <body>
    <header></header>
    <main>
    <form method="post">
      {% csrf_token %} 
      {{ form.as_p }}
      <button>Submit</button>
    </form>
    </main>
  </body>
</html>
