<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>To Do List</title>
  </head>

  <body>
    <main>
        <a href="{% url 'todos_list_create' %}">Create a New List</a>
        <a href="{% url 'todos_item_create' %}">Create a New Item</a>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Items</th>
            </tr>
          </thead>
        </table>
        <tbody>
        {% for list in object_list %}
          <tr>
          <td>
            <a href="{% url 'todos_list_detail' list.pk %}">
              {{ list.name }}
            </a>
          </td>
          <td>{{ list.items.all|length }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </main>
  </body>
</html>
